/* Estilos generales para todos los dispositivos */
body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #c8e3e3;
}

header {
    background-color: #9ef6f6;
    text-align: center;
    padding: 15px;
}

.enlaces {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;
    gap: 10px;
    padding: 10px;
}

.enlaces a {
    text-decoration: none;
    background-color: #3043eb;
    color: #000000;
    border: 1px solid #2700c4;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.gestiones {
    display: flex;
    background-color: #63f6f6;
    justify-content: space-evenly;
    max-height: 100vh;
    border-radius: 20px;
    padding: 20px;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.gestiones a {
    text-decoration: none;
    color: #f6f6f6;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.gestiones a:hover {
    background-color: #2600fd;
}
.gesu{
    text-decoration: none;
    background-color: #2600fd;
    color: #f6f6f6;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: auto;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

th, td {
    border: 1px solid rgb(3, 3, 3);
    border-collapse: collapse;
    text-align: center;
    padding: 15px 20px;
}

th {
    border: 3px solid black;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    gap: 10px;
}

.ban {
    text-decoration: none;
    background-color: #0f9bff;
    color: #f6f6f6;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 3.5px;
    cursor: pointer;
}
.ban:hover{
    background-color: #2600fd;
}

/* Estilos para tamaños de pantalla de tablet (768px o superior) */
@media (min-width: 768px) {
    header {
        padding: 20px; 
    }

    .enlaces {
        padding: 15px 0; 
    }

    .gestiones {
        padding: 30px; 
    }
}

/* Estilos para tamaños de pantalla de celular (hasta 767px) */
@media (max-width: 767px) {
    header {
        padding: 10px; 
    }

    .enlaces {
        flex-direction: column; 
        text-align: center;
        padding: 10px 0; 
        gap: 10px;
    }

    .gestiones {
        flex-direction: column; 
        text-align: center;
        padding: 15px; 
        gap: 10px;
    }
}

/* Estilos para tamaños de pantalla de laptop (1200px o superior) */
@media (min-width: 1200px) {
    header {
        padding: 25px; 
    }

    .enlaces {
        padding: 20px 0; 
    }

    .gestiones {
        padding: 35px; 
    }
}
